#html5qr-code-full-region {
  border-radius: 20px !important;
}
#html5-qrcode-anchor-scan-type-change, span:has(select #html5-qrcode-select-camera) {
  display: none !important;
}
.html5-qrcode-element {
  margin-top: 10px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #fb61ee;
  border-color: #fb61ee;
}
.html5-qrcode-element:hover {
  color: #fff;
  background-color: #610459;
  border-color: #610459;
}
